@CHARSET "UTF-8"; 

#tags{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: #FFFFFF #DADADA #DADADA;
    border-image: none;
    border-right: 1px solid #DADADA;
    border-style: solid;
    border-width: 0 1px 1px;
    height: 50px;
    width: 820px;
}

.row-fluid .span6{
	width: 97.718%;
}

#myModal{
  	margin-left: -146px!important;
	width: 640px!important;
}

