# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
  

/WebContent/node_modules/
/WebContent/_admin/.idea/
/WebContent/_admin/css/
/WebContent/_admin/js/
/WebContent/_admin/img/
/WebContent/_admin/index.html
/WebContent/_login/.idea/
/WebContent/_login/css/
/WebContent/_login/js/
/WebContent/_login/img/
/WebContent/_login/index.html
/WebContent/WEB-INF/applicationContext.xml
/WebContent/login/dist/
/WebContent/nadmin/dist/